doctype html

html
  head
    include _head

    title= index.title

    link(rel="stylesheet", type="text/css", href="styles/audio-player.css", media="all")
    script(src="js/jquery.js")
    script(src="js/amazing-audio-player.js")
    script(src="js/init-audio-player.js")
    link(rel="apple-touch-icon", href="touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="72x72", href="touch-icon-ipad.png")
    link(rel="apple-touch-icon", sizes="114x114", href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="144x144", href="touch-icon-ipad-retina.png")

  include _body
    div#site_player
      div#amazingaudioplayer-1
        ul.amazingaudioplayer-audios
          each music in playlist
            - var default_cover = site_info.default_cover
            - music.image = music.image || default_cover
              li(
                data-artist="#{music.artist}"
                data-title="#{music.title}"
                data-album="#{music.album}"
                data-info="#{music.info}"
                data-image="#{music.image}"
                data-duration="#{music.duration}"
              )
                div.amazingaudioplayer-source(
                  data-src="#{music.mp3}"
                  data-type="audio/mpeg"
                )
                div.amazingaudioplayer-source(
                  data-src="#{music.ogg}"
                  data-type="audio/ogg"
                )

        div.amazingaudioplayer-engine
          a(href="http://amazingaudioplayer.com", title="mp3 player for website") audio player for website

    div#site_bulletion
      each motto in site_info.mottos
        p.site-motto= motto 
      p.site-desc= site_info.desc 

    footer#footer
      ul
        li.link-group
          each tab in index.tabs
            a(href="#{tab.link}", target="#{tab.target}")= tab.name
        li
          span(style="margin-left: 30px;")= site_info.mark 
